.button {
  padding: 10px 20px;
  font-size: 18px;
  line-height: 18px;
  color: white;
  background-color: tomato;
  border: none;
  border-radius: 3px;

  cursor: pointer;
  user-select: none;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:not(:disabled):hover,
  &:focus {
    background-color: darken(tomato, 10%);
  }

  &:not(:disabled):active {
    transform: translateY(1px);
    background-color: darken(tomato, 20%);
  }
}
